services:
  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: submitty_web
    ports:
      - "8080:80"

  worker:
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    container_name: submitty_worker
